
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--zHs {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #fffdfd 37.44%, #d7d7d7 100%);
}
.item--zHs .auto-group-fram-hi5 {
  box-sizing: border-box;
  padding: 8rem 4.9rem 16.9rem 6.3rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX {
  margin: 0rem 1.3rem 6.7rem 1.2rem;
  width: calc(100% - 2.5rem);
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K {
  box-sizing: border-box;
  padding: 1.1rem 25.9rem 1.1rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .maahbiglogo-yZ7 {
  margin-right: 25.8rem;
  width: 16.3rem;
  height: 2.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF {
  margin: 0.15rem 0rem 0.45rem 0rem;
  height: calc(100% - 0.6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF .my-aoo {
  margin-right: 3.9rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF .share-VQy {
  margin-right: 4.7rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.97;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF .card-RZX {
  margin-right: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF .service-aBX {
  margin-right: 5.3rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 0.97;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .auto-group-frwt-F7K .menu-5MF .faqs-X6m {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .navbar-njX .frame-7-FYZ {
  width: 10rem;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.200000003);
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem rgba(0, 0, 0, 0.200000003);
  box-sizing: border-box;
  border-radius: 6.4rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .item--74y {
  margin: 0rem 0rem 4.4rem 1.7rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .item--PYH {
  margin: 0rem 0rem 4.9rem 3.2rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 0.97;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV {
  margin-bottom: 8.7rem;
  width: 100%;
  height: 40rem;
  display: flex;
  align-items: center;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 {
  box-sizing: border-box;
  padding: 2.9rem 4.3rem 3rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs {
  margin-right: 3rem;
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding-bottom: 1.9385rem;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh .auto-group-dsr5-wLq {
  margin-bottom: 1.8231rem;
  width: 100%;
  height: 24.8077rem;
  position: relative;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh .auto-group-dsr5-wLq .paste-image-here-tG5 {
  width: 18.4906rem;
  height: 23.2692rem;
  position: absolute;
  left: 1.1321rem;
  top: 1.5385rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh .auto-group-dsr5-wLq .shape-9xh {
  width: 20.7547rem;
  height: 7.6923rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(1rem);
  backdrop-filter: blur(1.6rem);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6999999881) -0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem 1rem 0 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh .auto-group-dsr5-wLq .card-name-Dhf {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 2.2641rem;
  top: 2.6923rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .cards-vertical-qYh .card-description-tYu {
  margin-right: 3.7264rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003019-JHs .the-pink-neH {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 {
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .cards-vertical-duo {
  margin-bottom: 1rem;
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .cards-vertical-duo .shape-BAd {
  width: 26.934rem;
  height: 18.0288rem;
  position: absolute;
  left: -3.7264rem;
  top: 19.6635rem;
  object-fit: contain;
  vertical-align: top;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .cards-vertical-duo .card-name-HUZ {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 1.8868rem;
  top: 1.923rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .cards-vertical-duo .card-description-MzD {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: 5.5264rem;
  top: 25.8615rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .cards-vertical-duo .noise-4dj {
  opacity: 0.06;
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url('../assets/noise-Z2u.png'); */
  background-repeat: repeat;
  background-size: 100%;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-xpr7-Nf7 .group-1000003020-uD7 .the-blue-Lr9 {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw {
  box-sizing: border-box;
  padding-bottom: 1.1363rem;
  width: 23rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 {
  margin-bottom: 1.1731rem;
  box-sizing: border-box;
  padding-bottom: 2.3372rem;
  width: 100%;
  height: 35.1906rem;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 .auto-group-qysf-hKK {
  margin-bottom: 2.4558rem;
  width: 100%;
  height: 29.1rem;
  position: relative;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 .auto-group-qysf-hKK .paste-image-here-dTs {
  width: 21.2641rem;
  height: 27.2953rem;
  position: absolute;
  left: 1.3019rem;
  top: 1.8047rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 .auto-group-qysf-hKK .shape-Lt5 {
  width: 23.8679rem;
  height: 9.0232rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(1rem);
  backdrop-filter: blur(1.6rem);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6999999881) -0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem 1rem 0 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 .auto-group-qysf-hKK .card-name-pYM {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 2.6038rem;
  top: 3.1581rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .cards-vertical-zA1 .card-description-Kk1 {
  margin-left: 2.1698rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .group-1000003024-ebw .x-boost-SJq {
  margin-right: 0.115rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs {
  box-sizing: border-box;
  padding: 2.9rem 0rem 3rem 3.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j {
  margin-right: 3rem;
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .cards-vertical-Xjb {
  margin-bottom: 1rem;
  width: 100%;
  height: 30rem;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .cards-vertical-Xjb .shape-5WD {
  width: 26.934rem;
  height: 18.0288rem;
  position: absolute;
  left: -3.7264rem;
  top: 19.6635rem;
  object-fit: contain;
  vertical-align: top;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .cards-vertical-Xjb .card-name-1em {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 1.8868rem;
  top: 1.923rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .cards-vertical-Xjb .card-description-ip5 {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: 5.5264rem;
  top: 25.8615rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .cards-vertical-Xjb .noise-CjF {
  opacity: 0.06;
  width: 20rem;
  height: 30rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url('../assets/noise-WuB.png'); */
  background-repeat: repeat;
  background-size: 100%;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003022-33j .the-blue-6Zj {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys {
  box-sizing: border-box;
  padding-bottom: 0.6rem;
  width: 20rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding-bottom: 1.9385rem;
  width: 100%;
  height: 30rem;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV .auto-group-hy1w-p8M {
  margin-bottom: 1.8231rem;
  width: 100%;
  height: 24.8077rem;
  position: relative;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV .auto-group-hy1w-p8M .paste-image-here-N9s {
  width: 18.4906rem;
  height: 23.2692rem;
  position: absolute;
  left: 1.1321rem;
  top: 1.5385rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV .auto-group-hy1w-p8M .shape-FzM {
  width: 20.7547rem;
  height: 7.6923rem;
  position: absolute;
  left: 0;
  top: 0;
  filter: blur(1rem);
  backdrop-filter: blur(1.6rem);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6999999881) -0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 1rem 1rem 0 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV .auto-group-hy1w-p8M .card-name-7Wm {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 2.2642rem;
  top: 2.6923rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .cards-vertical-tkV .card-description-27w {
  margin-right: 3.7264rem;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  font-family: Space Grotesk, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003245-FaV .auto-group-6x9w-7fs .group-1000003023-Lys .x-boost-uSd {
  margin-right: 0.1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.1rem;
  color: #000000;
  font-family: Iceland, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003168-yBb {
  margin: 0rem 37.1rem 0rem 37rem;
  width: calc(100% - 74.1rem);
  height: 17.3rem;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003168-yBb .group-1000003161-Vfj {
  box-sizing: border-box;
  padding: 0 3.7rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
}
.item--zHs .auto-group-fram-hi5 .group-1000003168-yBb .group-1000003161-Vfj .item--eHj {
  margin-bottom: 5.9rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .auto-group-fram-hi5 .group-1000003168-yBb .group-1000003161-Vfj .group-1000003158-ioP {
  margin: 0rem 5.7rem 0rem 2.6rem;
  width: calc(100% - 8.3rem);
  height: 6.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item--zHs .footer-9do {
  box-sizing: border-box;
  padding: 4.7rem 1.7rem 4.8rem 2rem;
  width: 100%;
  height: 37.1rem;
  backdrop-filter: blur(0.8rem);
  background-color: rgba(40, 52, 48, 0.2399999946);
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR {
  margin: 0rem 10.5rem 8.8rem 0rem;
  width: calc(100% - 10.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-9XK {
  margin-right: 13.9rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-9XK .maahsmalllogo-iKX {
  margin-bottom: 1rem;
  width: 8.4rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-9XK .discover-the-power-of-our-secure-and-rewarding-credit-cards-4PP {
  max-width: 28.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.048rem;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD {
  margin-top: 0.8rem;
  height: 16rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP {
  margin-right: 11.3rem;
  width: 9.9rem;
  height: 100%;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .about-us-e6h {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .frame-aW9 {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .frame-aW9 .investors-jP3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .frame-aW9 .features-gJH {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .frame-aW9 .book-a-demo-S2Z {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-5ZP .frame-aW9 .security-auT {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h {
  margin-right: 7.9rem;
  width: 13.3rem;
  height: 100%;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .products-SRs {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .frame-ZFb {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .frame-ZFb .credits-cards-KEm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .frame-ZFb .gift-cards-Trm {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .frame-ZFb .savings-accounts-Db3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-78h .frame-ZFb .nft-ND3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums {
  margin-right: 8.3rem;
  width: 12.9rem;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums .useful-links-STo {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums .frame-zER {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums .frame-zER .free-rewards-M4y {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums .frame-zER .documentation-Vws {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-Ums .frame-zER .affiliate-program-qF3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP {
  width: 7.8rem;
  height: 100%;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .social-KR7 {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .frame-GbF {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .frame-GbF .changelog-1Yq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .frame-GbF .license-mH7 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .frame-GbF .site-maps-KZX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-RLR .frame-kGD .frame-muP .frame-GbF .news-erh {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-oDo {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-oDo .copyright-2023-doradesign-all-rights-reserved-jt9 {
  margin-right: 67.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f0f0f0;
  font-family: M PLUS 1, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-oDo .group-11-fWu {
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--zHs .footer-9do .frame-fs3 .frame-oDo .group-11-fWu .this-page-uses-cookies-see-cookies-details-here-dCq {
  width: 29.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #f0f0f0;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.item--zHs .footer-9do .frame-fs3 .frame-oDo .group-11-fWu .vector-5-ug9 {
  width: 2.8rem;
  height: 0rem;
  position: absolute;
  left: 26.1rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
