.main-tF7 .footer-Zs3 {
  box-sizing: border-box;
  padding: 4.8rem 1.7rem 4.7rem 2rem;
  width: 128rem;
  height: 37.1rem;
  position: absolute;
  left: 0;
  top: 442.7rem;
  backdrop-filter: blur(0.8rem);
  background-color: rgba(40, 52, 48, 0.2399999946);
}
.main-tF7 .footer-Zs3 .frame-66H {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF {
  margin: 0rem 10rem 8.8rem 0rem;
  width: calc(100% - 10rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-Q6y {
  margin-right: 14.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-Q6y .maahsmalllogo-wsb {
  margin-bottom: 1rem;
  width: 8.4rem;
  height: 6.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-Q6y
  .discover-the-power-of-our-secure-and-rewarding-credit-cards-RAV {
  max-width: 27.8rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.048rem;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT {
  margin-top: 0.8rem;
  height: 16rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-FfK {
  margin-right: 11.3rem;
  width: 9.9rem;
  height: 100%;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-FfK
  .about-us-cEy {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-FfK .frame-XMw {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-FfK
  .frame-XMw
  .investors-5eM {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-FfK
  .frame-XMw
  .features-bMo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-FfK
  .frame-XMw
  .book-a-demo-Kob {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-FfK
  .frame-XMw
  .security-saD {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-oCy {
  margin-right: 10.6rem;
  width: 10.6rem;
  height: 100%;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-oCy
  .products-A3X {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-oCy .frame-JfX {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-oCy
  .frame-JfX
  .credits-cards-sCq {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-oCy
  .frame-JfX
  .gift-cards-vS1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-oCy
  .frame-JfX
  .savings-accounts-UTX {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-oCy
  .frame-JfX
  .nft-oEu {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-YiH {
  margin-right: 9.6rem;
  width: 11.6rem;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-YiH
  .useful-links-WQD {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-YiH .frame-4Aq {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-YiH
  .frame-4Aq
  .free-rewards-D3j {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-YiH
  .frame-4Aq
  .documentation-H3b {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-YiH
  .frame-4Aq
  .affiliate-program-q57 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-aHb {
  width: 8.3rem;
  height: 100%;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-aHb .social-jwB {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-rbF .frame-ubT .frame-aHb .frame-6Fw {
  width: 100%;
  row-gap: 0.8rem;
  display: flex;
  flex-direction: column;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-aHb
  .frame-6Fw
  .changelog-3ws {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-aHb
  .frame-6Fw
  .license-awo {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-aHb
  .frame-6Fw
  .site-maps-V3B {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-rbF
  .frame-ubT
  .frame-aHb
  .frame-6Fw
  .news-EWZ {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-aaR {
  width: 100%;
  height: 2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-aaR
  .copyright-2023-doradesign-all-rights-reserved-wfs {
  margin-right: 72.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #adb2b1;
  font-family: M PLUS 1, "Source Sans Pro";
  white-space: nowrap;
  flex-shrink: 0;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-aaR .group-11-Gi9 {
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.main-tF7
  .footer-Zs3
  .frame-66H
  .frame-aaR
  .group-11-Gi9
  .this-page-uses-cookies-see-cookies-details-here-2xD {
  width: 29.2rem;
  height: 2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #adb2b1;
  font-family: Poppins, "Source Sans Pro";
  white-space: nowrap;
}
.main-tF7 .footer-Zs3 .frame-66H .frame-aaR .group-11-Gi9 .vector-5-wZP {
  width: 2.8rem;
  height: 0rem;
  position: absolute;
  left: 26.1rem;
  top: 1.7rem;
  object-fit: contain;
  vertical-align: top;
}
