* {
  margin: 0;
  padding: 0;
}
ul,
li {
  list-style: none;
}
input {
  border: none;
}
body {
  width: 100%;
}
.my--m5o {
  width: 100%;
  height: 480rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #fffdfd -0%, #b2b2b2 100%);
}

.my--m5o .main-FLy {
  width: 100%;
  height: 317.789rem;
  position: relative;
  top: 15rem;
}
.my--m5o .main-FLy .hi-card-Ayj {
  margin: 0rem 0rem 12rem 5rem;
  box-sizing: border-box;
  padding: 3.9rem 5.5rem 7.5rem 4.8rem;
  height: 38.8rem;
  display: flex;
  align-items: center;
  background: linear-gradient(
    280.43deg,
    #ffffff 18.1%,
    rgba(219, 219, 219, 0.5180130601) 47.23%,
    rgba(255, 255, 255, 0) 78.54%
  );
  border-radius: 3rem;
  width: 90%;
}
.my--m5o .main-FLy .hi-card-Ayj .auto-group-nwqu-5L1 {
  margin-right: 2rem;
  margin-top: 2rem;
  width: 22.8rem;
  height: 100%;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .auto-group-nwqu-5L1 .auto-group-1fdp-pYV {
  margin-bottom: 3.3rem;
  box-sizing: border-box;
  padding: 1.3rem 4.9rem 1.2rem 5rem;
  width: 100%;
  height: 21.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("REPLACE_IMAGE:152:2759"); */
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .auto-group-nwqu-5L1
  .auto-group-1fdp-pYV
  .cards-vertical-i85 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .auto-group-nwqu-5L1
  .auto-group-1fdp-pYV
  .cards-vertical-i85
  .shape-3g9 {
  width: 17.3724rem;
  height: 11.4183rem;
  position: absolute;
  left: -2.4035rem;
  top: 12.4535rem;
  object-fit: contain;
  vertical-align: top;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .auto-group-nwqu-5L1
  .auto-group-1fdp-pYV
  .cards-vertical-i85
  .card-name-AVs {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 1.217rem;
  top: 1.218rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .auto-group-nwqu-5L1
  .auto-group-1fdp-pYV
  .cards-vertical-i85
  .card-description-TUy {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: -0.884rem;
  top: 15.5423rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  /* font-family: Space Grotesk, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .auto-group-nwqu-5L1
  .auto-group-1fdp-pYV
  .cards-vertical-i85
  .noise-jSV {
  opacity: 0.06;
  width: 12.9rem;
  height: 19rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url("../assets/noise-vow.png"); */
  background-repeat: repeat;
  background-size: 100%;
}
.my--m5o .main-FLy .hi-card-Ayj .auto-group-nwqu-5L1 .item-5-770-cWH {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-info-F3T {
  margin: 7rem 2rem 4.8rem 0rem;
  width: 28.5rem;
  flex-shrink: 0;
  border-right: solid 0.1rem #000000;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-info-F3T .hi-card-YYM {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.2rem;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-info-F3T .auto-group-98ud-fN5 {
  margin-bottom: 2.7rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-info-F3T
  .auto-group-98ud-fN5
  .item--cYD {
  margin-right: 2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-info-F3T
  .auto-group-98ud-fN5
  .item-2500000--WtV {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-info-F3T .auto-group-1uhb-269 {
  width: 100%;
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-info-F3T
  .auto-group-1uhb-269
  .item--Y4V {
  margin-right: 2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #930000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-info-F3T
  .auto-group-1uhb-269
  .item-1234000--uZF {
  text-align: right;
  display: flex;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .line-1-R1o {
  margin: 0rem 5.5rem 18.7rem 0rem;
  width: 0rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-point-jYH {
  margin-top: 3.3rem;
  width: 33rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-point-jYH .auto-group-gcbf-5c9 {
  box-sizing: border-box;
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .point-EV3 {
  margin: 0rem 0.1rem 2rem 0rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .point-EV3
  .hi-card-point-y5F {
  margin-right: 6rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .point-EV3
  .p-5ty {
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .grade-p5s {
  margin-right: 0.8rem;
  width: calc(100% - 0.8rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .grade-p5s
  .hi-credit-grade-NNH {
  margin-right: 3rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .auto-group-gcbf-5c9
  .grade-p5s
  .maahlogobronze-HEM {
  width: 11rem;
  height: 8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.my--m5o .main-FLy .hi-card-Ayj .hi-card-point-jYH .frame-1000005709-DNu {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .frame-1000005709-DNu
  .frame-3-B4q {
  margin-bottom: 1rem;
  width: 28rem;
  height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.036rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(188, 185, 179, 0.8539999723) -0%,
    rgba(177, 172, 148, 0.9720500112) 34%,
    rgba(130, 127, 116, 0.8700000048) 98%
  );
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .frame-1000005709-DNu
  .frame-1000005732-E37 {
  margin: 0rem 0rem 0rem 8rem;
  width: calc(100% - 13rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .frame-1000005709-DNu
  .frame-1000005732-E37
  .item--kn9 {
  margin-right: 3rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .hi-card-Ayj
  .hi-card-point-jYH
  .frame-1000005709-DNu
  .frame-1000005732-E37
  .item--TwT {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .by-card-group-eW9 {
  margin: 0rem 0rem 95.701rem 0rem;
  width: 100%;
  row-gap: 7.6rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.my--m5o .main-FLy .by-card-group-eW9 .group-1000003124-YrR {
  box-sizing: border-box;
  padding: 3.3rem 9.6rem 5.6rem 5.2rem;
  width: 90%;
  height: 32.4rem;
  background: linear-gradient(
    280.43deg,
    #ffffff 18.1%,
    rgba(219, 219, 219, 0.5180130601) 47.23%,
    rgba(255, 255, 255, 0) 78.54%
  );
  border-radius: 3rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow {
  width: 15.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 2rem;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 0.9rem 3.3rem 0.8rem 3.4rem;
  width: 100%;
  height: 14.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("REPLACE_IMAGE:152:2124"); */
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h
  .cards-vertical-hsj {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h
  .cards-vertical-hsj
  .shape-4TP {
  width: 11.7163rem;
  height: 7.6923rem;
  position: absolute;
  left: -1.621rem;
  top: 8.3897rem;
  object-fit: contain;
  vertical-align: top;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h
  .cards-vertical-hsj
  .card-name-n8V {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 0.8208rem;
  top: 0.8205rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h
  .cards-vertical-hsj
  .card-description-GJZ {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: -4.6915rem;
  top: 9.777rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  /* font-family: Space Grotesk, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003119-B8h
  .cards-vertical-hsj
  .noise-mFK {
  opacity: 0.06;
  width: 8.7rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url("../assets/noise-Fcy.png"); */
  background-repeat: repeat;
  background-size: 100%;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003121-2h3 {
  margin: 0 2.75rem;
  width: calc(100% - 5.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003121-2h3
  .the-blue-ycH {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-rwko-pow
  .group-1000003121-2h3
  .item-570-JuT {
  margin-right: 0.9rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq {
  box-sizing: border-box;
  padding: 3.2rem 0rem 0.2rem 7.5rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR {
  margin-right: 3rem;
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .group-1000003122-ftR {
  box-sizing: border-box;
  padding-top: 6.5rem;
  width: 29.5rem;
  height: 19.2rem;
  position: absolute;
  left: 0;
  /* top: 0.9rem; */
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  border-right: solid 0.1rem #000000;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .group-1000003122-ftR
  .item-053--BLy {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .group-1000003122-ftR
  .item-5--tmB {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .group-1000003122-ftR
  .item-3--1L1 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .group-1000003122-ftR
  .item-50--7P3 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4099999964);
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-w9tz-XGR
  .my-by-card-oWm {
  width: 100%;
  position: relative;
  /* left: 0.75rem; */
  /* top: 0; */
  /* text-align: center; */
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.2rem;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw {
  margin: 5.5rem 0rem 2.2rem 0rem;
  width: 36.5rem;
  height: calc(100% - 7.7rem);
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005727-cUD {
  margin: 0rem 0.1rem 2.3rem 0rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005727-cUD
  .by-card-point-in9 {
  margin-right: 6rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005727-cUD
  .p-2Xw {
  display: flex;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005709-N61 {
  width: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005709-N61
  .frame-3-6Xo {
  margin-bottom: 1rem;
  width: 28rem;
  height: 5rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.036rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(188, 185, 179, 0.8539999723) -0%,
    rgba(177, 172, 148, 0.9720500112) 34%,
    rgba(130, 127, 116, 0.8700000048) 98%
  );
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005709-N61
  .frame-1000005732-iZB {
  margin: 0rem 0rem 0rem 9rem;
  width: calc(100% - 13rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005709-N61
  .frame-1000005732-iZB
  .item--RiV {
  margin-right: 4.65rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003124-YrR
  .group-1000003117-HJD
  .auto-group-p6hk-Czq
  .auto-group-mekx-HRw
  .frame-1000005709-N61
  .frame-1000005732-iZB
  .item--WV3 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .by-card-group-eW9 .group-1000003128-vof {
  box-sizing: border-box;
  padding: 3.3rem 9.6rem 5.6rem 5.2rem;
  width: 100%;
  height: 32.4rem;
  background: linear-gradient(
    280.43deg,
    #ffffff 18.1%,
    rgba(219, 219, 219, 0.5180130601) 47.23%,
    rgba(255, 255, 255, 0) 78.54%
  );
  border-radius: 3rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw {
  width: 15.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5 {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 0.9rem 3.3rem 0.8rem 3.4rem;
  width: 100%;
  height: 14.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("REPLACE_IMAGE:159:2233"); */
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5
  .cards-vertical-Rtq {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 1.2rem;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5
  .cards-vertical-Rtq
  .shape-amj {
  width: 11.7163rem;
  height: 7.6923rem;
  position: absolute;
  left: -1.621rem;
  top: 8.3897rem;
  object-fit: contain;
  vertical-align: top;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5
  .cards-vertical-Rtq
  .card-name-Hg9 {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 0.8208rem;
  top: 0.8205rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5
  .cards-vertical-Rtq
  .card-description-ZtZ {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: -4.6915rem;
  top: 9.777rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  /* font-family: Space Grotesk, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003119-WG5
  .cards-vertical-Rtq
  .noise-1kZ {
  opacity: 0.06;
  width: 8.7rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url("../assets/noise-Hkh.png"); */
  background-repeat: repeat;
  background-size: 100%;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003121-WhK {
  margin: 0 2.75rem;
  width: calc(100% - 5.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003121-WhK
  .the-blue-Fuo {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-2vwv-ymw
  .group-1000003121-WhK
  .item-570-Pm7 {
  margin-right: 0.9rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb {
  box-sizing: border-box;
  padding: 3.2rem 0rem 0.2rem 7.5rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR {
  margin-right: 11rem;
  width: 29.2rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .group-1000003122-aah {
  box-sizing: border-box;
  padding-top: 6.5rem;
  width: 29.2rem;
  height: 19.2rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  border-right: solid 0.1rem #000000;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .group-1000003122-aah
  .item-053--Cry {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .group-1000003122-aah
  .item-5--Kwb {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .group-1000003122-aah
  .item-3--E2y {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .group-1000003122-aah
  .item-50--vwP {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4099999964);
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-j9qw-prR
  .my-by-card-ESH {
  width: 21rem;
  height: 4.9rem;
  position: absolute;
  left: 0.75rem;
  top: 0;
  text-align: center;
  font-size: 5rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.2rem;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17 {
  margin: 5.5rem 0rem 2.2rem 0rem;
  width: 36.5rem;
  height: calc(100% - 7.7rem);
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005727-H9f {
  margin: 0rem 0.1rem 2.3rem 0rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005727-H9f
  .by-card-point-bRF {
  margin-right: 7rem;
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005727-H9f
  .p-Kc9 {
  display: flex;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 0.6111111111;
  letter-spacing: -0.018rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005709-s7s {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005709-s7s
  .frame-3-poo {
  margin-bottom: 1rem;
  width: 100%;
  height: 5.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.036rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(188, 185, 179, 0.8539999723) -0%,
    rgba(177, 172, 148, 0.9720500112) 34%,
    rgba(130, 127, 116, 0.8700000048) 98%
  );
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005709-s7s
  .frame-1000005732-TLy {
  margin: 0rem 1.4rem 0rem 21.15rem;
  width: calc(100% - 22.55rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005709-s7s
  .frame-1000005732-TLy
  .item--zLu {
  margin-right: 4.65rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003128-vof
  .group-1000003117-dCH
  .auto-group-a4rr-Hbb
  .auto-group-tqts-M17
  .frame-1000005709-s7s
  .frame-1000005732-TLy
  .item--3KB {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .by-card-group-eW9 .group-1000003127-sJD {
  width: 100%;
  height: 32.4rem;
  border-radius: 3rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m {
  box-sizing: border-box;
  padding: 3.5rem 11.8rem 5.4rem 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, #ffffff -0%, #f0f0f0 100%);
  border-radius: 3rem;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB {
  margin-right: 7.5rem;
  width: 15.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo {
  margin-bottom: 1.7rem;
  box-sizing: border-box;
  padding: 0.9rem 3.3rem 0.8rem 3.4rem;
  width: 100%;
  height: 14.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("REPLACE_IMAGE:157:2876"); */
  border-radius: 3rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo
  .cards-vertical-or5 {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 3rem;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo
  .cards-vertical-or5
  .shape-Yof {
  width: 11.7163rem;
  height: 7.6923rem;
  position: absolute;
  left: -1.621rem;
  top: 8.3897rem;
  object-fit: contain;
  vertical-align: top;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo
  .cards-vertical-or5
  .card-name-UhK {
  width: 7.7rem;
  height: 1.9rem;
  position: absolute;
  left: 0.8208rem;
  top: 0.8205rem;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.076rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo
  .cards-vertical-or5
  .card-description-Brd {
  width: 12.5rem;
  height: 2.2rem;
  position: absolute;
  left: -4.6915rem;
  top: 9.7769rem;
  text-align: right;
  display: flex;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2775;
  letter-spacing: -0.068rem;
  color: #ffffff;
  /* font-family: Space Grotesk, "Source Sans Pro"; */
  white-space: nowrap;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003119-Uoo
  .cards-vertical-or5
  .noise-tFF {
  opacity: 0.06;
  width: 8.7rem;
  height: 12.8rem;
  position: absolute;
  left: 0;
  top: 0;
  /* background-image: url("../assets/noise.png"); */
  background-repeat: repeat;
  background-size: 100%;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003121-BVF {
  margin: 0 2.75rem;
  width: calc(100% - 5.5rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003121-BVF
  .the-blue-jFs {
  margin-bottom: 0.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-s5hf-MjB
  .group-1000003121-BVF
  .item-570-q41 {
  margin-right: 0.9rem;
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .group-1000003122-a1b {
  margin: 4.1rem 11rem 3.6rem 0rem;
  box-sizing: border-box;
  padding-top: 3.1rem;
  width: 29.2rem;
  height: calc(100% - 7.7rem);
  row-gap: 1.3rem;
  display: flex;
  flex-direction: column;
  border-right: solid 0.1rem #000000;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .group-1000003122-a1b
  .item-053--g4d {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .group-1000003122-a1b
  .item-5--Pzd {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .group-1000003122-a1b
  .item-3--KNV {
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .group-1000003122-a1b
  .item-50--eff {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: rgba(0, 0, 0, 0.4099999964);
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK {
  margin-top: 6rem;
  width: 36.5rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .item-1234000--JER {
  margin-bottom: 1.8rem;
  text-align: right;
  display: flex;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  /* font-family: Inter, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .frame-1000005709-NVB {
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 3rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .frame-1000005709-NVB
  .frame-3-Xss {
  margin-bottom: 1rem;
  width: 100%;
  height: 5.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.036rem;
  color: #ffffff;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(188, 185, 179, 0.8539999723) -0%,
    rgba(177, 172, 148, 0.9720500112) 34%,
    rgba(130, 127, 116, 0.8700000048) 98%
  );
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .frame-1000005709-NVB
  .frame-1000005732-YY5 {
  margin: 0rem 1.4rem 0rem 21.15rem;
  width: calc(100% - 22.55rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .frame-1000005709-NVB
  .frame-1000005732-YY5
  .item--s4Z {
  margin-right: 4.65rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o
  .main-FLy
  .by-card-group-eW9
  .group-1000003127-sJD
  .group-1000003117-E8m
  .auto-group-y9hx-9sK
  .frame-1000005709-NVB
  .frame-1000005732-YY5
  .item--MEd {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 0.97;
  letter-spacing: -0.026rem;
  color: #000000;
  /* font-family: Iceland, "Source Sans Pro"; */
  white-space: nowrap;
  flex-shrink: 0;
}
.my--m5o .main-FLy .star-img-at5 {
  margin: 0rem 0rem 42.432rem 10.222rem;
  width: 6.5778rem;
  height: 6.9611rem;
  object-fit: contain;
  vertical-align: top;
}
.my--m5o .main-FLy .star-img-tNy {
  width: 4.8rem;
  height: 4.6944rem;
  object-fit: contain;
  vertical-align: top;
}
